<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Navbar</a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">
                                        Contact <span class="badge bg-secondary">3</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Dropdown
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>
                                </li>
                            </ul>
                            <form class="d-flex">
                                <input class="form-control me-2" type="email" placeholder="Email" aria-label="Email">
                                <input class="form-control me-2" type="password" placeholder="password"
                                    aria-label="password">
                                <button type="button" class="btn btn-success">Success</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-12">
                <div class="mt-5 bg-light p-3">
                    <h1 class="mb-4">Hello, world!</h1>
                    <h4 class="mb-3">this is Exrcise 9</h4>
                    <a class="btn btn-primary" href="" role="button">Learn more</a>
                </div>
            </div>
            <div class="col-4 mt-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h3 class="card-title">Heading</h3>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt
                            dolorum ducimus eius est error, repellendus exercitationem. Laudantium ea ullam labore, nisi
                            quia animi, dolores dicta doloremque, obcaecati ut reiciendis?
                            Recusandae odio saepe optio fuga molestiae veniam tenetur vel error autem hic numquam
                            reprehenderit laboriosam exercitationem quisquam, culpa iusto ipsa. Qui hic recusandae
                            officia consequuntur facilis eaque tenetur inventore error!</p>
                        <button type="button" class="btn btn-light btn-lg">View details <i
                                class="fas fa-chart-bar m-2"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-4 mt-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h3 class="card-title">Heading</h3>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt
                            dolorum ducimus eius est error, repellendus exercitationem. Laudantium ea ullam labore,
                            nisi
                            quia animi, dolores dicta doloremque, obcaecati ut reiciendis?
                            Recusandae odio saepe optio fuga molestiae veniam tenetur vel error autem hic numquam
                            reprehenderit laboriosam exercitationem quisquam, culpa iusto ipsa. Qui hic recusandae
                            officia consequuntur facilis eaque tenetur inventore error!</p>
                        <button type="button" class="btn btn-light btn-lg">View details<i
                                class="fas fa-mobile-alt m-2"></i></button>
                    </div>
                </div>
            </div>

            <div class="col-4 mt-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h3 class="card-title">Heading <span class="badge bg-primary">New</span></h3>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt
                            dolorum ducimus eius est error, repellendus exercitationem. Laudantium ea ullam labore,
                            nisi
                            quia animi, dolores dicta doloremque, obcaecati ut reiciendis?
                            Recusandae odio saepe optio fuga molestiae veniam tenetur vel error autem hic numquam
                            reprehenderit laboriosam exercitationem quisquam, culpa iusto ipsa. Qui hic recusandae
                            officia consequuntur facilis eaque tenetur inventore error!</p>
                        <button type="button" class="btn btn-light btn-lg p-1">View details<i
                                class="fas fa-map-marker-alt m-2"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>
</body>

</html>