*{
    box-sizing: border-box;
}

nav{
    display: flex;
    border-bottom: 2px solid #a2dcd8;
    width: 98vw;
    font-family: 'SEGA LOGO FONT', sans-serif;
}

h1{
    font-size: 35px;
    font-weight: 400;
    color: #1e9c94;
    margin-top: 1%;
}

input{
    margin-left: 8%;
    height: 5vh;
    width: 55vw;
    margin-top: 17px;
    border-radius: 5px;
    border: 2px solid #a2dcd8;
    font-weight: 300;
    font-size: 20px;
}

section{
    height: 5vh;
    display: grid;
    grid-template-columns: repeat(3,20em);
    gap: 3em;
    margin-left: 20%;
    margin-top: 1%;
}

.card{
    width: 13vw;
    height: 30vh;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    box-shadow: 11px 14px 12px 0px rgba(0,0,0,0.18);
    background-image: url('https://github.com/devtlv/studentsGitHub/blob/master/JS/Week%204/Day5/Mini%20Projects/Mini%20Project%201%20(Robots)/card-pattern.png?raw=true');
    border: 2px solid #a2dcd8;
<<<<<<< HEAD
    font-size: 2vh;
=======
    font-size: 16px;
>>>>>>> 3b4a8950612fe1bb90a7e90e2545e25c35b25e51
    font-weight: 700;
}

.imgCard{
    width: 45%;
    border: 2px solid #a2dcd8;
    border-radius: 125px;
    margin-left: 3%;
    margin-top: 10%;
    background-color: #fbfbfb;
}

.headerCard, .cardPera{
    background-color: white;
    border-top: 2px solid #a2dcd8;
    border-bottom: 2px solid #a2dcd8;
}
